@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Pinyon+Script&display=swap");

@import "tailwindcss";

body {
    font-family: "Roboto", sans-serif;
}

.pinyon-script-regular {
    font-family: "Pinyon Script", cursive;
    font-weight: 500;
    font-style: normal;
    letter-spacing: 3px;
}

.nunito-sans{
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style:normal;
    font-variation-settings:
      "wdth" 100,
      "YTLC" 500;
}

:root {
    --color-cocoa: #6f4c42;
    --color-honeyRust: #a0552c;
    --color-goldenSugar: #d68c3c;
    --color-softAlmond: #d9ad79;
    --color-sweetPeach: #fcc5734f;
}

.bg-sweetPeach {
    background-color: var(--color-sweetPeach);
    min-height: 100vh
}

.header-goldenSugar {
    background-color: var(--color-goldenSugar);
}

.footer-honeyRust{
    background-color: var(--color-honeyRust);
}

.custom-placeholder::placeholder {
    color: var(--color-honeyRust);
}
.border-cocoa {
    color: var(--color-cocoa);
}

.color-text-softAlmond {
    color: var(--color-softAlmond)
}
